.logout {
    background-color: #e6e6e6;
    padding: 1vw;
    border: none;
}

.role-selection{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.role-selection-button{
    background-color: #e6e6e6;
    padding: 2vw;
    border-radius: 10px;
}

.role-selection-button:hover{
    background-color: #7b7781ea;
}

.join-content{
    display: flex;
    flex-direction: column;  /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    height: 10vh;
    justify-content: space-between;
    margin-top: 3vh;
}

.input-join-room{
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 1vh;
}

#join-room-button{
    width: 100%;
    padding: 12px;
    background-color: #a393c2; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease-in-out, transform 0.2s ease;
}

#join-room-button:hover{
    background-color: #8b7cb8;
    transform: scale(1.05);
}

